nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 240, 240);
}

#classname {
  display: flex;
  align-items: center;
  justify-content: center;
}

#classname li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  
}

#classname li a {
  text-decoration: none;
  font-size: 1rem;
  color: #00011A;
}

#mobile{
    display: none;
}
 
#mobile i {
  color: white;
}
@media screen and (max-width: 769px){
    #classname {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 80px;
        right: -300px;
        box-shadow: 0 40px 60px rgba (0,0,0,0.1) ;
        width: 100px;
height: 300px;
background: rgb(255, 250, 250);
padding: 40px 0 0 10px ;
transition: 0.3s ease-in-out
      }

      #classname.active{

right: 0px;
      }
      #classname li{
        margin-bottom: 25px;
      }

      #mobile{
        display:block;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }

    body{
      margin: 20px
  }
  #btnMenu{
      display: flex;
      border: none;
      background: none;
      font-size: 1rem;
      padding: .5rem 1rem;
      cursor: pointer;
  }
  #closeMenu:hover{
      cursor: pointer;
      color: #E0A963;
  }
  #closeMenu{
      display:flex;
      justify-content: end;
      font-size: 50px;
  }
  .menu{
      display: block;
      position: absolute;
      height: 100vh;
      background-color: white;
      z-index: 100;
      top: 0px;
      right: 0px;
      width: 0px;
      transition: .6s;
      visibility: hidden;
      overflow-x: hidden;
  }

  .points{
      display: block;
  }
  .points:hover{
      cursor: pointer;
  }
  .footer{
      display: flex;
      flex-direction: column;
  }
  .boxFoooter{
      margin-bottom: 20px;
      margin-left: 0px;
      margin-right: 0px;
      max-width: 340px;
  }
  .div1{
      display: flex;
      flex-direction: column;
  }
  .left{
      margin: 0px 0px 10px 0px;
  }
  .future{
      display: flex;
      flex-direction: column;
  }
  .footerSize{
      margin-right: 0px;
  }
  .boxFoooter{
      margin-right: 50px;
      max-width: 300px;
  }
  .the{
      width: 275px;
      margin-bottom: 150px;
  }
  .We{
      margin:10px 0px 20px 0px;
  }
  #nav.active #menu{
      display: block;
      width: 300px;
      visibility: visible;
      overflow-x: auto;
  }
  #main.opac{
      background-color: gray;
  }
  #main.opac #backGround{
      opacity: 0.5;
  }

}
.left{
  max-width: 730px;
  min-width: 1o0px;
  margin-right: 90px;
}

.WEB3{
  max-width: 800px;
height: 240px;
width: 900px;


}

.div1{
  display: flex;
  padding: 20px;
 padding-top: 70px ;
 

}

.box{
  background-color: #00011A;
  height:auto;
}

.white{
  color: white;
}

.new{
  color: #E0A963;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.margin{
  margin: 15px;
}

.border{
  padding-bottom: 40px;
  border-bottom: solid white 1px;
}

.future{
  display: flex;
  margin-top: 20px;
}

.We{
  display: flex;
  flex-direction: column;
  max-width: 750px;
}

.the{
  max-height: 210px;
  width: 390px;
}

.button{
  background: #F45D54;
  padding: 20px;
  margin-top: 35px;
  color: white;
  width: 150px;
  text-align: center;
  text-decoration: none;
}

.footer{
  margin-top: 50px;
  display: flex;
}

h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.imagesSize{
  width: 125px;
  height: 125px;
}

.textFooter{
  margin-left: 10px;
}

.size{
  font-size: 15px;
}

.divSizes{
  width: 600px;
  margin-right: 20px;
}

.gaming{
  width: 600px;
  margin-left: 30px;
  margin-right: 0px;
}

.boxFoooter{
  display: flex;
}

.navLink{
  color: #000000;
}

.footerLink{
  color: #000000;
  text-decoration: none;
}

.boxLink{
  color: white;
  text-decoration: none;
}

.button:hover{
  background-color: #000000;
}

.boxLink:hover{
  color:#E0A963
}

.navLink:hover{
  color: hsl(5, 85%, 63%);
}

.footerLink:hover{
  color: hsl(5, 85%, 63%);
}

.points{
  display: none;
}

.opac{
  color:rgb(202, 199, 192);
}
